# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE相关
.vscode/
.idea/
*.swp
*.swo
*~

# 临时文件
*.tmp
*.temp
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# 编译相关
*.spec
build/
# 不上传exe文件
*.exe

# 其他
.DS_Store 